*{
    box-sizing: border-box;
}
.square{
    width: 6vw;
    height: 6vw;
    margin: 0;
    border: 1px solid black;
    color: black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    height: 135px;
    align-items: center;
    justify-content: center;
}
.status{
    width: 20%;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 10px;
}